* {
    box-sizing: border-box;
}

body {
    width: 70%;
    margin: 0 auto;
}

.container {
    width: 720px;
    margin: 0 auto;
}

button {
    background-color: cadetblue;
    border: yellow;
    border-radius: 6px;
    font-size: 20px;
    transition-duration: 0.4s;
}

button:hover {
    background-color: lightgreen;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.console {
    font-family: monospace;
    background-color: lightgoldenrodyellow;
    border: 1px solid #333;
    padding: 10px;
    overflow: auto;
    overflow-x: hidden;
}

.console p {
    margin: 0;
    padding: 0;
    line-height: 1.2;
}

.mouse-in {
    font-weight: 600;
}